<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
      <div class="col-8 offset-3">
        <h3><%= data.title %> </h3>
      </div>
   <div class="col-6 offset-3">
     <div class="card listing-card">
       <img src="<%= data.image.url %>" class="card-img-top show-img" alt="image-link">
          <div class="card-body">
             <p class="card-text">owned by:- <i><%=data.owner.username %></i><br/>
                
                                    <p><b><%= data.title %></b></p>
                                     <p><%= data.description %></p> 
                             <p> &#8377;<%= data.price.toLocaleString("en-IN") %></p>
                                     <p><%= data.location %></p>
                                    <p> <%= data.country %></p>
             </p>                        
          </div>
    </div>
   </div>
   <% if(currUser && currUser._id.equals(data.owner._id)) { %>
      <div class="col-6 offset-3 btns mb-3">
          <form method="get" action="/listing/<%= data._id%>/edit">
             <button class="btn btn-dark add-btn show-btn">Edit</button>
          </form>
          <form method="post" action="/listing/<%= data._id%>?_method=DELETE">
             <button class="btn btn-dark show-btn">Delete</button>
          </form>
     </div>
   <% } %>

                                 <!-- review -->
                                               <div class=" col-8 offset-3 mt-3 mb-3 " >
                                                
                                                <% if(currUser){ %>
                                                   <hr/>
                                                   <h3>Leave Review</h3>
                                                   <form method="post" action="/listing/<%= data._id %>/review" class="needs-validation" novalidate >
                                                      <div class="mt-3 mb-3">
                                                          <label for="rating" class="form-label">Rating</label>
                                                          <input type="range" name="review[rating]" min="1" max="6" id="rating" class="form-range">
                                                      </div>
                                                       <div class="mt-3 mb-3">
                                                          <label for="comment" class="form-label">Comment</label>
                                                          <textarea name="review[comment]" rows="5" cols="50"  class="form-control" required></textarea>
                                                          <div class="invalid-feedback">Please add some comment for review!</div>
                                                      </div>
                                                      <button class="btn btn-outline-dark">Submit</button>
                                                   </form>
                                                   <% } %>
 
                                                   <hr/>
                                              <% if (data.review.length){ %>
                                                    <p><b>All Reviews</b></p>
                                                    <div class="row ">
                                                      <% for(review of data.review) { %>
                                                      <div class="card mb-3 col-5 ms-3">
                                                         <div class="card-body">
                                                            <b><h5 class="card-title">@<%= review.reviewOwner.username %></h5></b>
                                                             <h6 class="card-texty"><%= review.comment %></h6>
                                                              <p class="card-text"><%= review.rating %> star</p>
                                                              <% if(currUser && currUser._id.equals(review.reviewOwner._id)) { %>
                                                              <form method="post" action="/listing/<%=data._id%>/review/<%=review._id%>?_method=DELETE">
                                                               <button class="btn btn-dark">Delete</button>
                                                              </form>
                                                              <% } %>
                                                              
                                                         </div>
                                                      </div>
                                                   <% } %>

                                                </div>
                                              <% } %>
                                                   
                                               </div>
                                               
    </div>
</body>